﻿.navBarWrapper {
  position: fixed;
  top: 50%;
  transform: translateY(-30%);
  overflow: hidden;
  min-height: 49rem;
  max-width: 49.8rem;
  margin-left: -48rem;
  z-index: 5;
}

#top-menu {
  z-index: 1000 !important;
  font-weight: 700;
  font-family: 'Source Code Pro', cursive;
  margin-left: 50rem;
  min-width: 38rem;
  width: 100%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  float: left;
  transform-origin: left top;
  list-style: none;
}

  #top-menu li.line {
    background-color: #8C8C8C;
    width: 1.1rem;
    height: 0.14rem;
    display: inline-block;
    margin: 0.1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
  }

  #top-menu li:not(.line) {
    display: inline-block;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    min-width: 8rem;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.28rem;
    font-weight: 400;
    padding: 0 0.5rem 0 0.5rem;
    text-align: center;
  }

  #top-menu a {
    display: inline;
    -webkit-transition: .2s all ease-out;
    -moz-transition: .2s all ease-out;
    transition: .2s all ease-out;
    text-decoration: none;
    color: rgb(88, 88, 88);
    /* filter: invert(1); */
    /* mix-blend-mode: difference; */
  }

    #top-menu a span {
      color: #e0c86f;
    }

    #top-menu a:visited {
      color: black;
    }

    #top-menu a:link {
      color: black;
    }

    #top-menu a:focus {
      color: black;
    }

    #top-menu a:active {
      display: block;
    }

    #top-menu a #imgContainer {
      width: 1rem;
      display: inline;
      -webkit-transition: .2s all ease-out;
      -moz-transition: .2s all ease-out;
      transition: .2s all ease-out;
      text-decoration: none;
      color: rgb(88, 88, 88);
    }

    #top-menu a img {
      max-width: 1rem;
      display: inline;
      -webkit-transition: .2s all ease-out;
      -moz-transition: .2s all ease-out;
      transition: .2s all ease-out;
      text-decoration: none;
      /* mix-blend-mode: difference; */
    }

    /*#top-menu a:hover {
      color: #FEF3CC;
      cursor: pointer;
    }*/


  #top-menu li.active {
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #ec8f00;
    border-radius: 0px;
    display: inline-block;
  }

    #top-menu li.active a span {
      color: black;
    }


ul#menu {
  width: 100vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-around;
  margin: -90px 0 0 -30px;
  padding: 10px;
  padding-top: 50px;
  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  z-index: 10;
  height: 120vh;
}

  ul#menu li {
    font-size: 22px;
    align-self: center;
  }

#menuToggle {
  display: block;
  position: fixed;
  top: 21px;
  left: 30px;
  z-index: 1000;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  color: transparent;
  text-decoration: none;
  transition: color 1s ease;
}

#menuToggle a h3 {
  transition: color 0.3s ease;
}

/*#menuToggle a:hover h3 {
  font-size: 1.28em;
  font-family: 'Forum', cursive;
  font-weight: 400;
  padding: 0px;
  padding-bottom: 2.42rem;
  background: -webkit-linear-gradient(90deg, #FEF3CC 26.04%, #FFE380 100%), #C4C4C4;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #000000;
}*/

#menuToggle input {
  display: block;
  width: 55px;
  height: 70px;
  position: fixed;
  top: 1px;
  left: 1px;
  cursor: pointer;
  opacity: 0;
  z-index: 10000;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 32px;
  height: 3px;
  margin-bottom: 7px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1000;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, 2px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(20deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-8px, 1px);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg);
}


#menuToggle input:checked ~ ul {
  transform: none;
}