﻿@using Library.BLL.Infrastructure.Helpers
@model Library.BLL.DTO.FormDTO
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}
  <div class="col-3-9">

    <h3>Спасибо за обращение!</h3>
    <ul>
      <li>
        @Html.LabelFor(m=>m.Comment)
        @Html.DisplayFor(Model => Model.Comment)
      </li>
      <li>
        @Html.LabelFor(m=>m.Section)
        @Html.DisplayFor(Model => Model.Section)
      </li>
      <li>
        @Html.LabelFor(m=>m.Email)
        @Html.DisplayFor(Model => Model.Email)
      </li>
      <li>
        @Html.ActionLink("Go Home", "Index", "Home")
      </li>
    </ul>
  </div>


@*@argsList.ElementAt(5).ToString()*@
@*@foreach (var res in ViewData.Keys)
  {
      TagBuilder li = new TagBuilder("li");
      li.SetInnerText(res);
      <li>@li</li>
  }*@

@section Footer{
  Все права защищены. Никита Варламов @DateTime.Now
}