﻿@model Library.BLL.DTO.FormDTO

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
  <div class="col-3-9">
    <h2>Send Form</h2>

    @using (Html.BeginForm("Index", "Form", FormMethod.Post, new { @class = "col-5-8" }))
    {
      <div class="formGrid">
        <div class="formGrid-1-1">
          @Html.LabelFor(model => model.Section, "Самый красивый раздел?", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="formGrid-1-2">
          @Html.EnumDropDownListFor(model => model.Section, "--Самый красивый раздел--", htmlAttributes: new { @class = "form-control" })
          @Html.ValidationMessageFor(model => model.Section, "", new { @class = "text-danger" })
        </div>
        <div class="formGrid-2-1">
          @Html.LabelFor(model => model.Comment, "Комментарий", htmlAttributes: new { @class = "control-label col-md-2", @pattern = "^[a-z A-Z]+" })
        </div>
        <div class="formGrid-2-2">
          @Html.TextAreaFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control", @placeholder = "Этот сайт классный потом что..." } })
          @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })

        </div>
        <div class="formGrid-5-1">
          @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label col-md-2", @pattern = "^[a-z A-Z]+" })
        </div>
        <div class="formGrid-5-2">
          @Html.TextBoxFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "sample@mail.com" } })
          @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="formGrid-3-1">
          @Html.Label("Confirm", "Подтверждаю обработку персональных данных")
        </div>
        <div class="formGrid-3-2">
          @Html.CheckBoxFor(model => model.isConfirmed, new { @checked = "false", @type = "checkbox", @class="custom-control-input", @id="customControlInline"})
          @*@Html.ValidationMessageFor(model => model.isConfirmed, "", new { @class = "text-danger" })*@
          @Html.ValidationMessage("isConfirmed")
        </div>
        <div class="formGrid-4-1">
          @Html.ValidationSummary()
          <input type="submit" value="Отправить" />
        </div>
        <div class="formGrid-4-2">

        </div>
      </div>
    }

  </div>


@section Scripts {
  @*@Scripts.Render("~/bundles/jquery")*@
}