﻿@using Library.BLL.Infrastructure.Helpers
@using Library.WEB.Models
@model Library.WEB.Models.ArticlePage

@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-3-9">
  <table class="table">
    <tbody>
      <tr>
        <th>
          <h4>@Html.DisplayFor(model => model.ArticleViewModel.Name)</h4>
        </th>
      </tr>
      <tr>
        <th>
          <h5>
            @Html.DisplayFor(m=>m.ArticleViewModel.Author)
          </h5>
        </th>
      </tr>
      <tr>
        <th>
          <ul class="horizontal">
            @if (Model.ArticleViewModel.ArticleTags != null)
            {
              foreach (var articleTag in Model.ArticleViewModel.ArticleTags)
              {
                <li>
                  <a href="@Url.Action($"SearchByTag/{articleTag.TagId}", "Home")">@Html.TagBuilder(articleTag.Tag.Name)</a>
                </li>
              }
            }

          </ul>
        </th>
      </tr>
      <tr>
        <th>
          @Html.DisplayFor(model => model.ArticleViewModel.Description)
        </th>
      </tr>
      <tr>
        <th>
          @using (Html.BeginForm("CreateComment", "Home", FormMethod.Post, new { @class = "col-5-8" }))
          {
            <div class="formGrid">
              <input type="hidden" value=@Model.ArticleViewModel.Id name="ArticleId" />
              <div class="formGrid-2-1">
                @Html.LabelFor(Model => Model.NewReviewViewModel.Comment, "Ваш комментарий:")
                @Html.ValidationMessageFor(model => model.NewReviewViewModel.Comment, "", new { @class = "text-danger" })
                @Html.ValidationMessage("Comment")
              </div>
              <div class="formGrid-2-2">
                @*@Html.TextAreaFor(Model => Model.NewReviewViewModel.Comment, new {@pattern = "^[a-z A-Z]+", @placeholder = "This article is so good!"})*@
                <input type="text" name="Comment" />
              </div>
              <div class="formGrid-3-1">
                @Html.LabelFor(Model => Model.NewReviewViewModel.Rate, "Ваша оценка:", htmlAttributes: new { @class = "control-label col-md-2" })
              </div>
              <div class="formGrid-3-2">
                @Html.EnumDropDownListFor(model => model.NewReviewViewModel.Rate, "--Rate--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewReviewViewModel.Rate, "", new { @class = "text-danger" })
              </div>
              <div class="formGrid-4-1">
                @Html.ValidationSummary(true)
                <input type="submit" value="Send" id="button" />
              </div>
              <div class="formGrid-4-2">

              </div>
            </div>
          }
        </th>
      </tr>
      <tr>
        <th>
          <div id="partial">
            @Html.Partial("CommentListPartial", Model.ReviewViewModels)
          </div>
        </th>
      </tr>
    </tbody>
  </table>
</div>

<script>
  $("#button").click(function() {
    $.ajax({
      url: "Home/CreateComment",
      type: "get",
      data: $("form").serialize(),
      success: function (result) {
        $("#partial").html(result);
    }
    });
    })
</script>

