﻿@using Library
@using Library.BLL.DTO
@using Library.BLL.Infrastructure.Helpers
@model ICollection<Library.WEB.Models.ReviewViewModel>
<ul>
  @foreach (var review in Model)
  {
    <li>
      @Html.ModelDisplay(review)
    </li>
  }
</ul>