﻿@model Library.WEB.Models.ArticleCreateViewModel

@{
    ViewBag.Title = "CreateArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <div class="col-3-9 ">
    <h2>Create new Article</h2>

    @using (Html.BeginForm("CreateArticle", "Home"))
    {
      @Html.AntiForgeryToken()

      <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
          @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.Tags, new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.DropDownListFor(m => m.TagIds,
              Model.Tags.Select(t => new SelectListItem
              {
                Text = t.Name,
                Value = t.Id.ToString()
              }),
              new { @class = "form-control chosen-select", @multiple = "true" })
          </div>
          <div class="form-froup" id="tagsBlock">

          </div>
          <p><a class="addLink"><h4>Add new Tag</h4></a></p>
        </div>

        <div class="d-flex justify-content-end">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
      </div>
    }

   </div>

    @section scripts{
      <script src="~/Scripts/select2.min.js"></script>
      <link href="~/Content/css/select2.min.css" rel="stylesheet" />
      <script>
        $(function () {

          $(".chosen-select").select2();
        });
        $(function () {
          var i = 0;
          $('.addLink').click(function () {
            var html2Add = "<div class='newTag'>" +
              "<h4>Tag # " + (i) + "</h4>" +
              "<div><label>Name</label><div>" +
              "<input type='text' name='NewTags[" + i + "].Name' />" +
              "</div></div></div>";
            $('#tagsBlock').append(html2Add);
            i++;
          })
        })
      </script>
    }


    @*<script>
      $('.chosen-select').chosen()
    </script>*@
