﻿@*@using Library.WEB.Models*@
@using Library.BLL.Infrastructure.Helpers
@using Library.WEB.Models
@model Library.WEB.Models.HomeViewModel
@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@{
  ViewBag.Title = "Index";
  //Layout = "~/Views/Shared/_Layout.cshtml";
}
<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>*@
<div class="books col-3-9 ">
  @using (Html.BeginForm("Search", "Home", "", FormMethod.Post, new {@class= "form-inline my-2 my-lg-0" }))
  {
    @Html.AntiForgeryToken()
  <div class="search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="SearchQuery">
      @Html.DropDownListFor(m => m.SearchModel.TagIds,
        Model.SearchModel.Tags.Select(t => new SelectListItem
        {
          Text = t.Name,
          Value = t.Id.ToString()
        }),
        new { @class = "form-control mr-sm-2 chosen-select", @multiple = "true", @placeholder = "Select" })
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    @Html.ValidationSummary(true)
  </div>
  }
  <ul>
    @foreach (ArticlePreviewViewModel article in Model.ArticlePreviewViewModel)
    {
      string[] words = article.Description.Trim().Split(new char[] {' '});
      <li>
        <h2>@Html.DisplayNameFor(model => article.Name) : @Html.DisplayFor(modelItem => article.Name)</h2>
        <h4>@Html.DisplayNameFor(model => article.Author) : @Html.DisplayFor(modelItem => article.Author)</h4>
        <ul class="horizontal">
          @if (article.ArticleTags != null)
          {
            foreach (var articleTag in article.ArticleTags)
            {
              <li>
                <a href="@Url.Action($"SearchByTagId/{articleTag.TagId}", "Home")">@Html.TagBuilder(articleTag.Tag.Name)</a>
              </li>
            }
          }
        </ul>
      

        <h3>
          @Html.DisplayNameFor(model => article.Description) : @Html.DisplayFor(modelItem => article.Description)...
          @Html.ActionLink("Читать далее", $"Article/{article.Id}", "Home", new { @class = "link" })
        </h3>
      </li>
    }
  </ul>
  
  <br />
  <div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index",new { page = x}))
  </div>
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jquery")

<script src="~/Scripts/select2.min.js"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script>
  $(function () {

    $(".chosen-select").select2();
  });
</script>

}