﻿@*@using Library.WEB.Models*@
@using Library.BLL.Infrastructure.Helpers
@using Library.WEB.Models
@model Library.WEB.Models.HomeViewModel
@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
  }
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>*@
<div class="books col-3-9 ">
  @using (Html.BeginForm("Search", "Home", "", FormMethod.Post, new { @class = "form-inline my-2 my-lg-0" }))
  {
    @Html.AntiForgeryToken()
    <div class="form-group">
      <div class="col-md-10">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="SearchQuery">
        @Html.DropDownListFor(m => m.SearchModel.TagIds,
          Model.SearchModel.Tags.Select(t => new SelectListItem
          {
            Text = t.Name,
            Value = t.Id.ToString()
          }),
          new { @class = "form-control mr-sm-2 chosen-select", @multiple = "true", @placeholder = "Select" })
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>
      @*<form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>*@
      @*<div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
          @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.Tags, new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.DropDownListFor(m => m.TagIds,
              Model.Tags.Select(t => new SelectListItem
              {
                Text = t.Name,
                Value = t.Id.ToString()
              }),
              new { @class = "form-control chosen-select", @multiple = "true" })
          </div>
          <div class="form-froup" id="tagsBlock">
            <div class="newTag">
              <h4>Tag # 1</h4>
              <div>
                <label>Название</label>
                <div>
                  <input type="text" name="NewTags[0].Name" />
                </div>
              </div>
            </div>
          </div>
          <p><a class="addLink">Добавить новый элемент</a></p>
          <p><input type="submit" value="Add" /></p>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
          </div>
        </div>*@
    </div>
  }
  <ul>
    @foreach (ArticlePreviewViewModel article in Model.ArticlePreviewViewModel)
    {
      string[] words = article.Description.Trim().Split(new char[] { ' ' });
      <li>
        <h2>@Html.DisplayNameFor(model => article.Name) : @Html.DisplayFor(modelItem => article.Name)</h2>
        <h4>@Html.DisplayNameFor(model => article.Author) : @Html.DisplayFor(modelItem => article.Author)</h4>
        @if (article.ArticleTags != null)
        {
          foreach (var articleTag in article.ArticleTags)
          {
            <a href="@Url.Action($"SearchByTag/{articleTag.TagId}", "Home")">@Html.TagBuilder(articleTag.Tag.Name)</a>
          }
        }

        <h3>
          @Html.DisplayNameFor(model => article.Description) : @Html.DisplayFor(modelItem => article.Description)...
          @Html.ActionLink("Читать далее", $"Article/{article.Id}", "Home", new { @class = "link" })
        </h3>

        @Html.ActionLink("Оставить отзыв", $"Index/{article.Id}", "Guest")
      </li>
    }
  </ul>
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jquery")

  <script src="~/Scripts/select2.min.js"></script>
  <link href="~/Content/css/select2.min.css" rel="stylesheet" />
  <script>
  $(function () {

    $(".chosen-select").select2();
  });
  </script>

}