﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - My ASP.NET Application</title>
  <link href="//fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans:ital,wght@0,600,400,300;1,400&display=swap"
        rel="stylesheet" type="text/css">
  <script src="~/Scripts/modernizr-2.8.3.js"></script>
  @Scripts.Render("~/bundles/jquery")
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
  @Styles.Render("~/Content/customCss")


</head>
<body>
<nav id="introNav" class="navbar navbar-expand-lg navbar-light bg-light">
  <picture>
    <a href="@Url.Action("Index", "Home")">
      <img src="~/img/hub.png" alt="Hub logo">
    </a>
  </picture>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      @if (User.Identity.IsAuthenticated)
      {
        <li>@Html.ActionLink("Create article", "CreateArticle", "Home")</li>
      }
      <li>@Html.ActionLink("Home", "Index", "Home")</li>
      <li>@Html.ActionLink("Form", "Index", "Form")</li>
      <li class="nav-item dropdown">
        @if (!User.Identity.IsAuthenticated)
        {
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Enter?
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            @Html.ActionLink("Login", "Login", "Account", "", new { @class = "dropdown-item" })
            <div class="dropdown-divider"></div>
            @Html.ActionLink("Register", "Register", "Account", "", new { @class = "dropdown-item" })
          </div>
        }
        else
        {
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>Hello, </span>@User.Identity.Name
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            @Html.ActionLink("Logout", "Logout", "Account", "", new { @class = "dropdown-item" })
          </div>
        }
      </li>
    </ul>
  </div>

</nav>
<nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" id="menuToggler">
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <li>
          <a href=@Url.Action("Index", "Home")>
            <h3>Main</h3>
          </a>
        </li>
        <li>
          <a href=@Url.Action("CreateArticle", "Home")>
            <h3>Add new Article</h3>
          </a>
        </li>
        <li>
          <a href=@Url.Action("Index", "Form")>
            <h3>Send Reply</h3>
          </a>
        </li>
        @if (User.IsInRole("admin"))
        {
          <li>
            <a href=@Url.Action("Index", "Admin")>
              <h3>Admin Page</h3>
            </a>
          </li>

        }
        @if (User.Identity.IsAuthenticated)
        {
          <li>
            <a href=@Url.Action("CreateArticle", "Home")>
              <h3>Create an Article</h3>
            </a>
          </li>
        }
        <li>
          <a href=@Url.Action("Index", "Home")>
            <h3>Go Home</h3>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="mainGrid">
    @RenderBody()

  </div>
  <footer>
    @RenderSection("Footer", false)
    Все права защищены. Никита Варламов @DateTime.Now.Year
  </footer>
  @RenderSection("scripts", false)


  @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
  @*<script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
  @Scripts.Render("~/bundles/bootstrap")
  @Scripts.Render("~/bundles/jqueryval")
</body>
</html>