﻿@model Library.WEB.Models.TagViewModel

@{
    ViewBag.Title = "EditTag";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
  <div class="col-3-9">
    <h2>EditTag</h2>

    @using (Html.BeginForm("EditTag", "Tag", FormMethod.Post))
    {
      @Html.AntiForgeryToken()

  <div class="form-horizontal">
    <hr />
    @Html.HiddenFor(m => m.Id)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
      @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save changes" class="btn btn-default" />
      </div>
    </div>
  </div>
    }

    <div>
      @Html.ActionLink("Back to List", "Tags", "Admin")
    </div>
  </div>

