﻿
@{
    ViewBag.Title = "Forbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <div class="col-3-9">
    <div class="d-flex align-items-center">
      <h2>Error 403. Forbidden</h2>
      @Html.ActionLink("Go home", "Index", "Home")
    </div>
  </div>

