﻿
@{
  ViewBag.Title = "InternalServerError";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="books col-3-9 ">
<div class="d-flex align-items-center">
  <h2>Error 500. Internal Server Error</h2>
  @Html.ActionLink("Go home", "Index", "Home");
  </div>
</div>
