﻿
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="books col-3-9 ">
<div class="d-flex align-items-center">
  <h2>Error 404. Client error</h2>
  @Html.ActionLink("Go home", "Index", "Home")
  </div>
</div>
