﻿
@{
    ViewBag.Title = "ArticleNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <div class="books col-3-9 ">
    <div class="d-flex align-items-center">
      <h2>Page doesn`t exist</h2>
      <h4>Error 404. Such page doesn`t exists</h4>
      @Html.ActionLink("Go home", "Index", "Home")
    </div>
  </div>
    
