﻿@using Library
@using Library.BLL.DTO
@using Library.BLL.Infrastructure.Helpers
@model IEnumerable<ReviewDTO>
<ul>
  @foreach (var review in Model)
  {
    <li>
      @Html.ModelDisplay(review)
    </li>
  }
</ul>