﻿@using Library.BLL.DTO
@*@model Tuple<ReviewDTO, IEnumerable<SelectListItem>>*@
@model ReviewDTO
@{
  System.Web.HttpContext currentContext = System.Web.HttpContext.Current;
  var routeValues = currentContext.Request.RequestContext.RouteData.Values;
  string bookId = ViewBag.BookId as string;
  //var books = ViewBag.Books as SelectList;
  //Model.BookId = @ViewBag.BookId;

}

@using (Html.BeginForm("CommentFormPartial", "Guest", FormMethod.Post, new { @class = "col-5-8" }))
{
  <div class="formGrid">
    <div class="formGrid-1-1">
      @Html.LabelFor(m => m.BookId)
      @*@Html.DropDownList("Книга", new SelectList (Model.Item2, "Value", "Text"), new { @class = "form-control"})*@
    </div>
    <div class="formGrid-1-2">
      @Html.TextBoxFor(Model => Model.BookId, new { @placeholder = ViewBag.BookId, @class = "form-control" })
      @Html.ValidationMessage("BookId")
    </div>
    <div class="formGrid-2-1">
      @Html.LabelFor(Model => Model.Comment, "Ваш комментарий:")
      @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
      @Html.ValidationMessage("Comment")
    </div>
    <div class="formGrid-2-2">
      @Html.TextAreaFor(model => model.Comment, new { @pattern = "^[a-z A-Z]+", @placeholder = "книга просто супер" })

    </div>
    <div class="formGrid-3-1">
      @Html.LabelFor(Model => Model.Rate, "Ваша оценка:", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="formGrid-3-2">
      @Html.EnumDropDownListFor(model => model.Rate, "--Выберите раздел--", htmlAttributes: new { @class = "form-control" })
      @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
    </div>
    <div class="formGrid-4-1">
      @Html.ValidationSummary(true)
      <input type="submit" value="Отправить" />
    </div>
    <div class="formGrid-4-2">

    </div>
  </div>

  @*<div class="formGrid">
      <div class="formGrid-1-1">
        @Html.DropDownList("Книга", new SelectList (Model.Item2, "Value", "Text"), new { @class = "form-control"})
      </div>
      <div class="formGrid-1-2">
      </div>
      <div class="formGrid-2-1">
        @Html.LabelFor(Model => Model.Item1.Comment, "Ваш комментарий:")

      </div>
      <div class="formGrid-2-2">
        @Html.TextAreaFor(model => model.Item1.Comment, new { @pattern = "^[a-z A-Z]+", @placeholder = "книга просто супер" })

      </div>
      <div class="formGrid-3-1">
        @Html.LabelFor(Model => Model.Item1.Rate, "Ваша оценка:", htmlAttributes: new { @class = "control-label col-md-2" })
      </div>
      <div class="formGrid-3-2">
        @Html.EnumDropDownListFor(model => model.Item1.Rate, "--Выберите раздел--", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Item1.Rate, "", new { @class = "text-danger" })
      </div>
      <div class="formGrid-4-1">
        @Html.ValidationSummary(true)
        <input type="submit" value="Отправить" />
      </div>
      <div class="formGrid-4-2">

      </div>
    </div>*@

}
@section Footer{
  Все права защищены. Никита Варламов @DateTime.Now
}
