﻿@model IEnumerable<Library.WEB.Models.ReviewViewModel>

@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="col-3-9">
  <h2>Comments</h2>

  <div class="horizontal nav">
    <div class="flex item 1"></div>
    <div class="flex item 3">
      <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href=@Url.Action($"Comments/{1}")>By date Asc</a>
          <div class="dropdown-divider"></div>

          <a class="dropdown-item" href=@Url.Action($"Comments/{0}")>By date Desc</a>
          <div class="dropdown-divider"></div>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Author)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.ArticleId)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Comment)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.DateOfCreation)
      </th>
      <th></th>
    </tr>

    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.ArticleId)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.DateOfCreation)
        </td>
        <td>
          @*@Html.ActionLink("Edit", $"Edit/{item.Id}", new { /* id=item.PrimaryKey */ }) |*@
          @*@Html.ActionLink("Details", $"Details/{item.Id}", new { /* id=item.PrimaryKey */ }) |*@
          @Html.RouteLink("Delete", new {Controller = "Comment", Action=$"Delete/{item.Id}" },new { /* id=item.PrimaryKey */ @class=""})
        </td>
      </tr>
    }

  </table>
</div>

