﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

  <div class="col-3-9">
    <ul>
      <h2>Admin Home</h2>
      <li>
        @Html.ActionLink("Review comments", "Comments", "Admin")
      </li>
      <li>
        @Html.ActionLink("Review tags", "Tags", "Admin")
      </li>
    </ul>
  </div>
