﻿@model IEnumerable<Library.WEB.Models.TagViewModel>

@{
    ViewBag.Title = "Tags";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
  <div class="col-3-9">
    <h2>Tags</h2>
    <div class="horizontal nav">
      <div class="flex item 1"></div>
      <div class="flex item 3">
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href=@Url.Action($"Tags/{0}")>By name Asc</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href=@Url.Action($"Tags/{1}")>By name Desc</a>
            <div class="dropdown-divider"></div>
          </div>
        </div>
      </div>
    </div>
    <table class="table">
      <tr>
        <th>
          @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
      </tr>

      @foreach (var item in Model)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.Name)
          </td>
          <td>
            @Html.RouteLink("Edit", new { Controller = "Tag", Action = $"EditTag/{item.Id}" }, new { /* id=item.PrimaryKey */ @class = "" })
            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
          </td>
        </tr>
      }

    </table>
  </div>

